<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702440322365-cg2nkroahpvmb98l6mdqa2r60ugjbhnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702440322365-cg2nkroahpvmb98l6mdqa2r60ugjbhnu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>702440322365-s59mpcepj4oof6adg99midu27p1u5nfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjAy0gMShN2n5u7OSCUaHkX3FYlittUw</string>
	<key>GCM_SENDER_ID</key>
	<string>702440322365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.org.reactjs.native.example.help</string>
	<key>PROJECT_ID</key>
	<string>help-e2206</string>
	<key>STORAGE_BUCKET</key>
	<string>help-e2206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702440322365:ios:ba253eedf8a60fd7594154</string>
	<key>DATABASE_URL</key>
	<string>https://help-e2206.firebaseio.com</string>
</dict>
</plist>